# --- تثبيت الأساسيات أولاً لضمان التوافق ---
httpx
websockets
supabase

# --- المكتبات الأساسية والذكاء الاصطناعي ---
google-genai
groq
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth

# --- التعامل مع تليجرام ---
telethon
pyrogram
tgcrypto

# --- التحميل والمعالجة (الوحش) ---
yt-dlp
curl_cffi
playwright
nest-asyncio
ffmpeg-python

# --- قاعدة البيانات والويب ---
fastapi
uvicorn
python-multipart
python-dotenv
requests
beautifulsoup4
PyJWT

# --- اللغة والتنسيق ---
googletrans
arabic-reshaper
python-bidi
deep-translator
rich
tqdm
aiohttp

# --- الأرشفة والخطوط ---
internetarchive