fastapi
uvicorn
supabase
python-multipart
jinja2
python-dotenv
requests
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pandas
gspread
groq
google-genai
textblob
deep-translator
pyrogram
tgcrypto
internetarchive
google-generativeai
tqdm
yt-dlp
nest-asyncio
cloudinary
nltk